ServerWorkspace Grundprgramm/RechteckWS/generated/wsdl/RechteckWebServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://www.axxg.de/ws/rechteck" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.axxg.de/ws/rechteck" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.axxg.de/ws/rechteck" schemaLocation="RechteckWebServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="berechneUmfang">
    <part name="parameters" element="tns:berechneUmfang"/>
  </message>
  <message name="berechneUmfangResponse">
    <part name="parameters" element="tns:berechneUmfangResponse"/>
  </message>
  <message name="berechneInhalt">
    <part name="parameters" element="tns:berechneInhalt"/>
  </message>
  <message name="berechneInhaltResponse">
    <part name="parameters" element="tns:berechneInhaltResponse"/>
  </message>
  <message name="makeMessage">
    <part name="parameters" element="tns:makeMessage"/>
  </message>
  <message name="makeMessageResponse">
    <part name="parameters" element="tns:makeMessageResponse"/>
  </message>
  <portType name="RechteckWebService">
    <operation name="berechneUmfang">
      <input ns1:Action="http://www.axxg.de/ws/rechteck/RechteckWebService/berechneUmfangRequest" message="tns:berechneUmfang" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://www.axxg.de/ws/rechteck/RechteckWebService/berechneUmfangResponse" message="tns:berechneUmfangResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="berechneInhalt">
      <input ns3:Action="http://www.axxg.de/ws/rechteck/RechteckWebService/berechneInhaltRequest" message="tns:berechneInhalt" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://www.axxg.de/ws/rechteck/RechteckWebService/berechneInhaltResponse" message="tns:berechneInhaltResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="makeMessage">
      <input ns5:Action="http://www.axxg.de/ws/rechteck/RechteckWebService/makeMessageRequest" message="tns:makeMessage" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://www.axxg.de/ws/rechteck/RechteckWebService/makeMessageResponse" message="tns:makeMessageResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

